.section
  %table.table.table-bordered.bottom
    %tr 
      %td{ width: '100px'} Donation
      %td= number_to_currency(@amount, :unit => '$')
    - if @reward
      %tr 
        %td Reward
        %td= @reward.description

.section
  - if @card
    = render 'one_click_form'
   
  - else
    = render 'payment_form'